.headingnav {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 250px;
}

.logoInList {
    width: 50px;
}

.formdiv {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(229, 229, 225);
}

.uploadbtn {
    display: flex;
    justify-content: center;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formsection {
    /* height: 88vh; */
    height: 50vh;
    padding-top: 150px;
    /* padding-bottom: 80px; */
    padding-left: 550px;
    padding-right: 550px;
    background-image: url(/static/asset/background.jpg);
    background-position: center 30%;
}
/*
.carousel {
  padding-left: 10px;
  padding-right: 10px;
} */

.list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-top: 20px;
    font-size: small;
    color: grey;
    /* padding-bottom: 20px;  */
}
.titlelink {
    text-decoration: none;
}
.title {
    font-size: large;
    margin-bottom: 0px;
}
/* .detail {
  width: 324px;
  display: flex;
  justify-content: space-between;
} */

.author,
.creationdate {
    font-size: medium;
}

.interest_container {
    display: flex;
    flex-flow: row wrap;
}

.interest_item {
    flex-basis: 25%;
}

.listleft {
    margin-right: 140px;
}

.description {
    display: inline-block;
    width: 400px;
    font-size: medium;
    margin-bottom: 25px;
    color: gray;
}

/* CSS for the pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none; /* Hide the pop-up by default */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none; /* Hide the overlay by default */
}

/* for detail page - start */
.content{
    max-width:100%;
    width:90%;
    margin:auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.content .heading{
    font-size:20pt;
    font-weight: bold;
    color:#004071;
    line-height: 1.3em;
    margin: 20px 0px;
}

.content .body{
    line-height: 1.3em;
    color:#000;
    font-size: 15px;
    font-weight: normal;
    overflow:auto;
    margin:20px;
    border-radius:15px;
    box-shadow:3px 3px 15px #666;
    padding:20px 20px;
}

.content .pic{
    width:30%;
    padding: 0px 0px 15px 0px;
}

.content .detail{
    width:69%;
    padding: 0px 15px 15px 0px;
}

.content td{
    padding: 5px;
    vertical-align: top;
    width: 35%;
}

.content td .label{
    font-size:11pt;
    font-weight: bold;
    color:#004071;
    width: 15%;
}

.content img {
    width:90%;
    height:90%;
    margin:20px;
}

.content .notImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

.content img:hover {
    cursor: pointer;
}
/* for detail page - end */